@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.parent {
    display: flex;
}

.sidebar {

    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(31, 32, 32);

}

.conteudo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.conteudo .imagem {
    text-align: center;
}


.conteudo .imagem img {
    width: 60%;
    height: 30%;
    border-radius: 50%;
    border: 4px solid rgb(53, 52, 52);
}

.conteudo .menu {
    margin-top: 30px;
    text-align: center;
}

.conteudo .menu a {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: azure;
    font-size: 18px;
    opacity: 0.5;
}

.conteudo .menu a:hover {

    transition: all 2.5s ease 0s;
    color: rgb(255, 253, 253);
    font-size: 20px;
}

.conteudo .menu a.selecionado {

    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: azure;
    font-size: 18px;
    opacity: 1.0;

}

/* Sobre */

.content {
    position: absolute;
    left: 30%;
    width: 70%;
    height: 100%;
    overflow: auto;
    padding: 0 3%;
    background-color: whitesmoke;
}

.descricao {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.descricao p {
    margin-top: 20px;
    font-size: 20px;
}

.descricao p a {
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    color: red;
    font-weight: bolder;
}

.descricao p a:hover {
    transition: all 1.0s ease 0s;
    color: rgb(219, 0, 0);
    font-size: 21px;

}

a,
p {
    font-family: 'Poppins', sans-serif;
}

h1,
.sobrenome {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 44px;
}

.sobrenome {
    color: gray;
}

h3 {
    font-family: 'Poppins', sans-serif;
}

/*                  ICONS                */
section .icon {
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;
}

.descricao .icon a img {
    height: 35px;
    width: 35px;
    margin-right: 20px;

}

.descricao .icon a img:hover {
    transition: all 1.7s ease 0s;
    height: 26px;
    width: 26px;
}